name: Generate README.md
on:
    push:

jobs:
    generate_readme:
        runs-on: ubuntu-latest
        strategy:
          matrix:
            output_format: [html_document,github_document]
            output_file: [index.html,README.md]
            output_dir: [./docs/]
        steps: 
            - uses: actions/checkout@v2
            - name: Render GitHub Pages
              uses: ./.github/actions/render
              with:
                  input_file: ./docs/README.rmd
                  output_format: html_document
                  output_file: index.html
                  output_dir:  ./docs/
            - name: Render README.md
              uses: ./.github/actions/render
              with:
                  input_file: ./docs/README.rmd
                  output_format: github_document
                  output_file: README.md
                  output_dir:  ./
            - name: Commit files
              run: |
                git config --local core.autocrlf false
                git config --local user.email "${{ github.actor }}@users.noreply.github.com"
                git config --local user.name "${{ github.actor }}"
                git add . && git add --renormalize .
                git pull origin ${{ github.head_ref }} --autostash --rebase -X ours
                git commit --allow-empty -am "AUTO-GH ACTION: ${{ github.workflow }}"
                NO_PAGER=1 git --no-pager diff HEAD^
            - name: Push changes
              uses: ad-m/github-push-action@master
              with:
                branch: ${{ github.head_ref }}
                github_token: ${{ secrets.GITHUB_TOKEN }}
            
